.row {
    mdb-card {
        border-radius: 15px;

        mdb-card-body {
            mdb-card-title {
                h2 {
                    color: #606060;
                }
            }

            mdb-card-text {
                h3 {
                    color: #333;
                }
            }

            .row {
                strong {
                    color: #606060;
                }

                .col-6 {
                    border-bottom-left-radius: 20px;
                    border-right             : 1px solid #eee;
                }

                .col {
                    border-bottom-right-radius: 20px;
                }
            }
        }
    }
}